html
{
}

body
{
}

#page
{
}

#header
{

padding: 15px 0px 15px 10px;
	
}

#content
{
	padding: 10px;
}

h1, h2, h3, h4
{
	font-weight:normal;
}

#workItemList
{
	 list-style:none;
	 margin: 0;
	 padding: 0;
}

#workItemList li
{
	float: left; 
	width: 225px;
	margin: 0px 10px 10px 0;
	font-weight:normal;
	height: 60px;
	padding: 2px;
}

#workItemList li .header
{
	color: #e17009;
}

#workItemList li .content
{
	font-size:.7em;
}

#workItemList li .ui-widget-content
{
	font-size: 0.7em;
}