
#workItemList
{
	 list-style:none;
	 margin: 0;
	 padding: 0;
}

#workItemList li
{
	float: left; 
	width: 100px; 
	height: 90px;
	margin: 5px 5px 0px 0;
}







/*#test { list-style:none; margin: 0; padding: 0; }
#test li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 100px; height: 90px; font-size: 4em; text-align: center;  }


/**.item
{
	width: 300px;
	border: solid 1px black;
}

.item h2
{
	font-weight: normal;
}

.item .content
{
}*/


/*.note
{
	background-image: url(Images/note_background.png);
	background-repeat: repeat-x;
	background-color: #fcf9a1;
	width:300px;
}

.note h2
{
	font-weight:normal;
	margin-bottom: 10px;
	background-color: #fcf9a1;
	padding:10px;
	padding-top:5px; padding-bottom:5px;
}

.note .content
{
	padding:10px;
	padding-top:0px;
}*/